# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Node / Frontend
node_modules/
dist/
build/
.npm/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
